* {
  margin: 0px;
}
.App {
  background-color: #121212;
  color: #ececec;
  min-height: 100vh;
}
.title {
  text-align: center;
  color: #bc6ff1;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
}
.form {
  padding: 8%;
}
.listtitle {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.Pos {
  border-right: 15px solid #6ca534;
}
.Neg {
  border-right: 15px solid #f6394d;
}

.Income {
  background-color: #334368;
  padding: 15px;
}
.Balance {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  margin-left: 5%;
}

.Inc {
  font-style: normal;
  font-weight: bold;
  color: #1efe19;
  font-size: 35px;
  margin-left: 10%;
}
.Exp {
  font-style: normal;
  font-weight: bold;
  color: #ff3a3a;
  font-size: 35px;
  margin-left: 10%;
}
